<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <%= helloString %>  <!-- Calling the helloString we passed when rendering index in testRoute -->
  <ul>

    <!-- Calling the helloArray we passed when rendering index in testRoute and
    looping through it, creating an unordered list.
    -->
    <% for(i=0; i < helloArray.length; i++){ %>

        <li><%= helloArray[i] %></li>



    <%}%>
  </ul>
  <form action="/saveImg" method="post" enctype="multipart/form-data">
         
            <label for="profilepic">Profile Pic:</label>
            <input type="file" id="profilepic" name="profilepic" />
            <br />
            <input type="submit" value="Create Profile" />
        
      </form>
  </body>

</html>
