<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>

  </ul>
  <form action="/api/saveImg" method="post" enctype="multipart/form-data">
            <label for="profilepic">Image name</label>
            <input type="text" id="name" name="name" placeholder="Image name" />
            <br />
            <label for="profilepic">Image</label>
            <input type="file" id="img" name="img" />
            <br />
            <input type="submit" value="Send img" />
        
      </form>
  </body>

</html>
