<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
 
    yo!
  </body>

</html>
<form action="/saveImg" method="post" enctype="multipart/form-data">
            <input type="text" id="name" name="name" placeholder="Image name" />
            <label for="profilepic">Profile Pic:</label>
            <input type="file" id="profilepic" name="profilepic" />
            <br />
            <input type="submit" value="Create Profile" />
        
      </form>